# .htaccess

# Mengaktifkan mode rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Mengarahkan semua permintaan ke folder public
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>

# Mencegah akses ke direktori selain public
<FilesMatch "\.(htaccess|htpasswd|ini|phar|sh|ksh|pl|plx|perl|cgi|php|php3|php4|php5|php7|inc|phps|fla|swf)$">
    Order allow,deny
    Deny from all
</FilesMatch>